<nav>
    <ul>
      <li><a class="<%= (page == '/') ? 'active' : '' %>" href="/">Home</a></li>
      <li><a class="<%= (page == '/sites') ? 'active' : '' %>" href="/sites">View Site Collection</a></li>
    </ul>
  </nav>
  